<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Food App</li>

        <li>
          <a href="plugins.html" class="waves-effect">
            <i class="mdi mdi-apps"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="vertical.html" class="waves-effect">
            <i class="mdi mdi-flip-horizontal"></i>
            <span>Food</span>
          </a>
        </li>

        <li>
          <a href="horizontal.html" class="waves-effect">
            <i class="mdi mdi-flip-vertical"></i>
            <span>Horizontal</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
